* {
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Lato", sans-serif; 
    font-size: 16pt;
    background-color:#efefef;
}

#idHeader{
    height:35px;
    background-color:black;
}
#idNomeSite{
    width:200px;
    text-align:center;
    float:left;
    color:red;
}
#idDELPOLI{
    width:300px;
    text-align:center;
    float:right;
    color:white;
}
#idlista{
    height:4px;
    background-color:red;
}
#idDiv1{
    margin-top:20px;
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    color: dodgerblue;
    font-weight:bold;
    height:auto;
}
#idDivLocal{
    text-align:center;
    font-weight:bold;
    color: dodgerblue;
    width: 35%;
    height: 40px;
    line-height: 0.75;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    opacity: 0.85;
}
#idDivDatahora{
    text-align:center;
    font-weight:bold;
    color: dodgerblue;
    width: 35%;
    height: 60px;
    line-height: 0.75;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: whitesmoke;
    opacity: 0.85;
}
#idDivMedAutom{
    float:left;
    margin-left:auto;
}
#idDivObserv{
    float:left;
}
#idDivFotos{
    clear:left;
    float:left;
    margin-left:auto;
}
#idDivGraficos{
    float:left;
}
.shadowBorder{
    padding:15px;
    margin:10px;
    border:1px solid lightgray;
    box-shadow: 3px 5px 10px #888888;
    background-color:white;
    height:350px;
    width:48%;
}
.classTexto1{
    color:black;
    font-weight:normal;
}
.meia-caixa{
    width:48%;
}
.caixa-inteira{
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}