* {
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Lato", sans-serif; 
    font-size: 16pt;
    background-color:#efefef;
}

#idHeader{
    height:35px;
    background-color:white;
}
#idNomeSite{
    width:200px;
    text-align:center;
    float:left;
    color: blue;
    margin-top: 5px;
    font-weight: bold;
    font-style: italic;
}
#idDELPOLI{
    width:300px;
    text-align:center;
    float:right;
    color:black;
    margin-top: 5px;
}
#idlista{
    height:4px;
    background-color:dodgerblue;
}

#idDiv1{
    margin: 10px auto;
    width:70%;
    color: dodgerblue;
    font-weight:bold;
    height:auto;
}
#divLocal{
    text-align:center;
    font-weight:bold;
    color: dodgerblue;
    width: 40%;
    height: 40px;
}
#divBusca{
    text-align:center;
    font-weight:bold;
    color: dodgerblue;
    width: 40%;
    line-height: 0.75;
    margin: auto;
}
#idDivMedAutom{
    float:left;
    margin-left:auto;
}
#idDivObserv{
    float:left;
}
#idDivFotos{
    clear:left;
    float:left;
    margin-left:auto;
}
#idDivGraficos{
    float:left;
}

.white-boxed{
    background-color: white;
    opacity: 0.9;
    border-radius: 2px;
    padding: 10px;
    margin: 10px auto;
    margin-top: 10px;
}

.shadowBorder{
    position: relative;
    padding:15px;
    margin:10px;
    border:1px solid lightgray;
    box-shadow: 3px 5px 10px #888888;
    background-color:white;
    height:350px;
    width:48%;
}

.slide{
    height: auto;
}

.classTexto1{
    color:black;
    font-weight:normal;
}
.classSubTexto{
    font-size:14px;
    color:grey;
}

.bottom-align{
    position: absolute;
    bottom: 0;
}

.center-justify {
    width: 70%;
    position: relative;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
}

.flex-container{
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/
}
.meia-caixa{
    max-height: 100%;
    width: 48%;
}
.caixa-inteira{
    width:95%;
    margin-left:auto;
    margin-right:auto;
}
.divFotos{
    max-width:75%;
    margin: 1.5% auto;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 3px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    display: block;
    z-index: 1;
    margin: auto;
    top: 125%;
    left: 20%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.slick-prev:before, .slick-next:before { 
    color: dodgerblue !important;
}

.slick-slider {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}
.slick-slide, .slick-slide *{ outline: none !important; }