* {
    box-sizing:border-box;
}

/* Escala fonte baseado no tamanho do viewport.
   Fonte: https://css-tricks.com/snippets/css/fluid-typography/ */
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
/* Fim do código retirado da internet. */

body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Lato", sans-serif; 
    background-color:#efefef;
}

/* Padrões básicos */
.texto{
    color:black;
    font-weight:normal;
}
.sub-texto{
    font-weight: normal;
    font-size:0.75em;
    color:slategray;
}
.bottom-align{
    position: absolute;
    bottom: 0;
}
.center-justify {
    width: 70%;
    position: relative;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
}

/* Barra do cabeçalho */
#header{
    height: auto;
    display: block;
    overflow: auto;
    background-color:white;
    border-bottom: 4px solid dodgerblue;
    padding: 0.2em;
}
#nomeSite{
    width:40%;
    text-align:left;
    float:left;
    color: blue;
    font-weight: bold;
    font-style: italic;
}
#DELPOLI{
    width:40%;
    text-align:right;
    float:right;
    color:black;
}

/* Caixas de Local e Busca */
.white-box{
    background-color: white;
    opacity: 0.9;
    border-radius: 2px;
    padding: 0.3em 1em;
    margin: 0.5em auto;
    width: 24em;
    max-width: 90%;
    height: auto;
}
.label{
    text-align:center;
    font-weight:bold;
    color: dodgerblue;
}
.search-box {
    font-size:1.05em;
    text-align:center;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
.botao-buscar{
    font-size: 1.05em;
    font-weight: normal;
}

/* Área principal */
#mainDiv{
    color: dodgerblue;
    font-weight:bold;
    height:auto;
    margin-bottom: 2em;
}
.flex-container{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: baseline;
    margin: auto;
}

/* Cartões de display */
.flex-child{
    width: 22em;
    height: auto;
    min-height: 16em;
    margin: 0.4em;
}
.shadow-border{
    position: relative;
    padding:0.75em;
    border:1px solid lightgray;
    box-shadow: 3px 5px 10px #888888;
    background-color:white;
    max-width: 100%;
}
.scroll-controls{
    float: right;
}
.scroll-controls button{
    font-size: 1.05em;
    font-weight: bold;
}
.slide{
    height: auto;
}
.meia-caixa{
    width: 48%;
    max-height: 100%;
}
.caixa-inteira{
    width:95%;
    max-height: 100%;
    margin-left:auto;
    margin-right:auto;
}
.displayFotos{
    max-width:80%;
    margin: 1.5% auto;
}
.displayGraficos{
    max-width: 100%;
    margin: 1.5% auto;
    height: auto;
    min-height: 13.5em;
}

/* Tooltip do significado da bandeira de guarda-vidas.
   Fonte: https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 3px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    display: block;
    z-index: 1;
    margin: auto;
    top: 125%;
    left: 20%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* Fim do código retirado da internet. */

/* Overrides do tema do slick */
.slick-prev:before, .slick-next:before { 
    color: dodgerblue !important;
}

.slick-slider {
    /* Permite que o texto do slide seja selecionado. */
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}
.slick-slide, .slick-slide *{ 
    /* Disabilita outline quando o slide estiver selecionado. */
    outline: none !important; 
}